.root {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.main {
  display: flex;
  gap: 64px;
  height: 100%;
  justify-content: center;
}

.rankingList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
