.root {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.main {
  display: flex;
  gap: 64px;
  height: 100%;
  justify-content: center;
}

.rankingList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
