/* WaitingScreen styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    rgb(147, 51, 234),
    rgb(139, 92, 246),
    rgb(79, 70, 229)
  );
  padding: 6rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border: 4px solid rgb(192, 132, 250);

  @media (max-width: 460px) {
    padding: 2rem 0.5rem;
  }
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.emoji {
  font-size: 3.75rem;
  animation: bounce 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @media (max-width: 460px) {
    font-size: 3rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;

  @media (max-width: 460px) {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 0.625;
  color: rgb(243, 232, 255);

  @media (max-width: 460px) {
    font-size: 1rem;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}
