.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 32px;
  gap: 40px;
  justify-content: space-between;
}

.eventName {
  padding: 6px 0;
  background: #ffcc00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  width: 480px;
  height: 46px;
  text-align: center;
  color: #ff383c;
  font-size: 36px;
  margin-right: 32px;
}

.periodName {
  height: 40px;
  padding: 3px 20px;
  background: #0ea5e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: #ffffff;
  font-size: 30px;
}
