.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
