.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/quiz_background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
