.rootWithImage {
  display: flex;
  flex-direction: column;
}

.rootWithoutImage {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  border-radius: 16px;
  background: rgba(230, 230, 230, 0.7);
}

.correctBlink {
  animation: blinkCorrect 2.5s steps(1, end) forwards;
}

@keyframes blinkCorrect {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}
