.notice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 0.5px solid white;
  background: linear-gradient(
    to bottom,
    rgba(0, 24, 143, 1) 0%,
    rgba(83, 111, 255, 0) 62.5%
  );
  overflow: hidden;
}

.noticeText {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  color: #ffcc00;
  line-height: 70px;
  white-space: pre-wrap;
  word-break: break-word;
  writing-mode: vertical-rl;
}

.textCombine {
  text-combine-upright: all;
}
